<div class="card bg-body-tertiary mb-5">
  <div class="card-body text-center d-flex flex-column">
    <h3 class="text-center mb-3">List of Participants</h3>
    <hr>
    <table class="table mb-5">
      <thead>
      <tr class="table-success">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Year Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Accommodation Type</th>
        <th scope="col">Choosed Boat</th>
        <th scope="col">Prefered Position</th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let participant of participantData">
      <tr *ngIf="participant.person.isParticipate">
        <td>{{participant.id}}</td>
        <td>{{participant.person.name}}</td>
        <td>{{participant.person.yearOfBirth}}</td>
        <td>{{participant.person.gender}}</td>
        <td>{{formatDate(participant.attendance.arrivalDate)}}</td>
        <td>{{(participant.attendance.arrivalTime.slice(0,2))}}</td>
        <td>{{participant.accommodationType}}</td>
        <td>{{participant.boatType}}</td>
        <td>{{participant.position}}</td>
          </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

