    <div class="card bg-body-tertiary mb-5">
    <div class="card-body text-center d-flex flex-column">
      <h3 class="text-center mb-3">List of People</h3>
      <hr>
      <table class="table mb-5">
        <thead>
        <tr class="table-success">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Year Of Birth</th>
          <th scope="col">Gender</th>
          <th scope="col">Contact Data</th>
          <th scope="col">is Participate</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let person of peopleData ">
          <td>{{person.id}}</td>
          <td>{{person.name}}</td>
          <td>{{person.yearOfBirth}}</td>
          <td>{{person.gender}}</td>

          <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                   data-bs-whatever="@mdo">Contact data</button></td>

          <td>{{person.isParticipate}}</td>
          <td><Button class="btn btn-primary" (click)="switchToEditParticipantData(person.id)">Edit data</Button></td>
          <td><Button class="btn btn-danger" (click)="deletePerson(person.id)">Delete Person</Button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Data</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="email" class="col-form-label">Email address:</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="mb-3">
                <label for="phone" class="col-form-label">Phone number:</label>
                <input type="text" class="form-control" id="phone">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>

